*
{
    margin: 0;
    padding: 0;
}

/*---------------------------------------------------------------------------
# designs for the text
----------------------------------------------------------------------------*/
body
{
    font-family: sans-serif;
}

h1
{
    font-family: "Francois One";
    font-size: 40px;
}

.promo-title
{
    font-size: 40px;
    font-weight: 600;
    margin-top: 100px;
}


.title::before
{
    content: '';
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 0%, rgba(0,212,255,1) 100%);
    height: 5px;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 40px;
    transform: translateY(63px);
}
.title::after
{
    content: '';
    background: #176b95;
    height: 10px;
    width: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    display: block;
    transform: translateY(8px);
}
#services .btn-primary
{
    box-shadow: none;
    padding: 8px 25px;
    border: none;
    border-radius: 20px;
    background-image: linear-gradient(to right, #a517ba, #5f1782);
}

/*---------------------------------------------------------------------------
# Navigation bar
----------------------------------------------------------------------------*/
#nav-bar
{
    position: sticky;
    top: 0;
    z-index: 10;
    background: #a2c0de;
}
.navbar
{
    width: 100%;
    height: 100px;
    /* background-image: linear-gradient(to right, #a517ba, #5f1782);*/
    /* background: linear-gradient(90deg, rgba(23,107,149,1) 0%, rgba(28,146,176,1) 23%, rgba(131,204,232,1) 99%); */
    /* background: white; */
    background-color: #a2c0de;
    padding: 0 !important;
}

.navbar-brand
{
    font-size: 60px;
    margin: 0;
    padding: 0;
    line-height: 100px;
    font-weight: 600;
    letter-spacing: 4px;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
}

.navbar-nav li
{
    padding: 0 10px
}
.navbar-nav li a
{
    color: #176b95 !important;
    font-weight: 600;
    float: right;
    text-align: left;
}
.fa-bars
{
    color: #a2c0de;
    font-size: 30px !important;
}
.navbar-toggler
{
    outline: none !important;
}

/*---------------------------------------------------------------------------
# banners for all the pages
----------------------------------------------------------------------------*/
#banner
{
    background: url("img/study.jpg") top center;
    background-size: cover;
    height: 600px;
    width: 100%;
   /* background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 0%, rgba(0,212,255,1) 100%); */
   /* color: #fff;
    padding-top: 5% */
}

#banner-events
{
    background: url("img/workshop.jpeg") top center;
    background-size: cover;
    height: 400px;
    width: 100%;
}

#banner-team
{
    background: url("img/volunteers.jpg") top center;
    background-size: cover;
    height: 380px;
    width: 100%;
    margin-bottom: 15px;
}

#banner-about-us
{
    background: url("img/about-questions.jpg") top center;
    background-size: cover;
    height: 380px;
    width: 100%;
    margin-bottom: 15px;
}

#banner-blog
{
    background: url("img/blog-banner.jpeg") top center;
    background-size: cover;
    height: 380px;
    width: 100%;
    margin-bottom: 15px;
}
/*---------------------------------------------------------------------------
# Index page
----------------------------------------------------------------------------*/

.play-btn
{
    width: 45px;
    margin: 20px;
}
#banner a
{
    color: #fff;
    text-decoration: none;
}


.container {
    margin-left: auto;
    margin-right: auto;
}

/*------------------service section-------------------------->*/

#services
{
    padding: 80px 0;
}
.service-img
{
    width: 100px;
    margin-top: 20px
}
.services
{
    padding: 20px;
}
.services h4
{
    padding: 5px;
    margin-top: 25px;
    text-transform: uppercase;
}

.services-large
{
    font-family: "Helvetica Neue", "Arial", sans-serif;
    font-size: 30px;
    text-align: center;
}
/*------------------about us section-------------------------->*/

#about-us
{
    background: #f8f9fa;
    padding-bottom: 50px;
    padding-top: 50px;
}

.about-title
{
    font-size: 40px;
    font-weight: 600;
    margin-top: 8%;
}

#about-us ul
{
    margin-left: 20px;
    line-height: normal;
}
#about-us ul li
{
    list-style: none;
    line-height: normal;
}

#about-us ul i
{
    font-size: 20px;
    padding-right: 4px;
    color: #116bc2;
    line-height: normal;
}


/* testimonials */

#testimonials
{
    margin: 100px 0;
}
.testimonials
{
    border-left: 4px solid #7b1798;
    margin-top: 50px;
    margin-bottom: 50px
}
.testimonials img
{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    margin: 0 10px;
}

.user-details
{
    display: inline-block;
    font-size: 12px;
}

/* social media */

#social-media
{
    background: #f8f9fa;
    padding: 100px 0;
}

#social-media p
{
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 30px;
}
.social-icons img
{
    width: 60px;
    transition: 0.5s;
}

.social-icons a:hover img
{
    transform:translateY(-10px);
}


/* footer setup */
#footer
{
    background-image: linear-gradient(to right, #a517ba, #5f1782);
    color: #fff;
}
.footer-img
{
    width: 100%
}

/*--------------------------------------------------------------
# Events
--------------------------------------------------------------*/

/* Carousel of upcoming events */

.carousel-item{
    height: 800px;
    width: 50%;
}
.carousel-item img{
    width: 50%;
    height: 800px;
}
.carousel.card-body
{
    color: black;
}

/* Previous events card list */
.events .card {
    margin-top: 50px;
    border: 10px;
    padding: 0 30px;
    margin-bottom: 60px;
    margin-left: 20px;
    position: relative;
}

.events .card-img {
    width: 100%;
    margin-left: -30px;
    overflow: hidden;
    z-index: 9;
    border-radius: 0;
}

.events .card-img img {
    max-width: 100%;
}

.events .card-body {
    z-index: 10;
    background: #fff;
    border-top: 4px solid #fff;
    padding: 30px;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
    margin-top: -60px;
    transition: 0.3s;
}

.events .card-title {
    font-weight: 700;
    text-align: center;
    margin-bottom: 20px;
}

.events .card-title a {
    color: #37423b;
    transition: 0.3s;
}

.events .card-text {
    color: #5e5e5e;
}

.events .read-more a {
    color: #777777;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 12px;
    transition: 0.3s;
}

.events .read-more a:hover {
    color: #3573e2;
}

.events .card:hover img {
    transform: scale(1.1);
}

.events .card:hover .card-body {
    border-color: #60b0f1;
}

.events .card:hover .card-body .card-title a {
    color: #3573e2;
}

.title-cal span {
    font-size: 20px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.5);
}

.title-ban
{
    margin-top: 150px;
    text-align: center;
    margin-right: 950px;
    margin-left: -110px;
    color: #176b95;
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    font-family: "Poppins", sans-serif;

}




/*--------------------------------------------------------------
# Our team
--------------------------------------------------------------*/

.bg-primary {
    background: #fff;
}

.team .card {
    margin-top: 100px;
    border: 10px;
    padding: 0 30px;
    margin-bottom: 60px;
    margin-left: 100px;
    position: fixed;
}

.team .card-img {
    width: 100%;
    margin-left: -30px;
    overflow: hidden;
    z-index: 9;
    border-radius: 0;
}

.team .card-img img {
    max-width: 100%;
}

.team .card-body {
    z-index: 10;
    background: #fff;
    border-top: 4px solid #fff;
    padding: 30px;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
    margin-top: -60px;
    transition: 0.3s;
}

.team .card-title {
    font-weight: 700;
    text-align: center;
    margin-bottom: 20px;
}

.team .card-title a {
    color: #37423b;
    transition: 0.3s;
}

.team .card-text {
    color: #5e5e5e;
}



/*--------------------------------------------------------------
# About us page content
--------------------------------------------------------------*/

.breadcrumbs {
    margin-top: 35px;
    margin-bottom: 20px;
    text-align: center;
    background: #a2c0de;
    padding: 30px 0;
    color: #fff;
}
/*--------------------------------------------------------------
# Social media section
--------------------------------------------------------------*/
.fa {
    padding: 20px;
    font-size: 30px;
    width: 100px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
}

.fa:hover {
    opacity: 0.7;
}

/* Facebook */
.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-linkedin {
    background: #007bb5;
    color: white;
}

.fa-instagram {
    background: #125688;
    color: white;
}

.fa-snapchat-ghost {
    background: #fffc00;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}


/*--------------------------------------------------------------
# Testimonials page
--------------------------------------------------------------*/









/*--------------------------------------------------------------
# Blog main page
--------------------------------------------------------------*/

.band {
    width: 90%;
    max-width: 1240px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-gap: 20px;
}
@media (min-width: 30em) {
    .band {
        grid-template-columns: 1fr 1fr;
    }
}
@media (min-width: 60em) {
    .band {
        grid-template-columns: repeat(4, 1fr);
    }
}


.elements.card {
    background: white;
    text-decoration: none;
    color: #444;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    min-height: 100%;
    position: relative;
    top: 0;
    transition: all 0.1s ease-in;
}
.elements.card:hover {
    top: -2px;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
}
.elements.card article {
    padding: 20px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.elements.card h1 {
    font-size: 20px;
    margin: 0;
    color: #333;
}
.elements.card p {
    flex: 1;
    line-height: 1.4;
}
.elements.card span {
    font-size: 12px;
    font-weight: bold;
    color: #999;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    margin: 2em 0 0 0;
}
.elements.card .thumb {
    padding-bottom: 60%;
    background-size: cover;
    background-position: center center;
}




/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
    color: #37423b;
    font-size: 14px;
   /* background: linear-gradient(90deg, rgb(23, 107, 149) 0%, rgba(28,146,176,1) 23%, rgba(131,204,232,1) 99%);*/
    background: #a2c0de;

}

#footer .footer-top {
    padding: 60px 0 30px 0;
    background: #f9faf9;
}

#footer .footer-top .footer-contact {
    margin-bottom: 30px;
}

#footer .footer-top .footer-contact h4 {
    font-size: 22px;
    margin: 0 0 30px 0;
    padding: 2px 0 2px 0;
    line-height: 1;
    font-weight: 700;
}

#footer .footer-top .footer-contact p {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 0;
    font-family: "Raleway", sans-serif;
    color: #777777;
}

#footer .footer-top h4 {
    font-size: 16px;
    font-weight: bold;
    color: #444444;
    position: relative;
    padding-bottom: 12px;
}

#footer .footer-top .footer-links {
    margin-bottom: 30px;
}

#footer .footer-top .footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#footer .footer-top .footer-links ul i {
    padding-right: 2px;
    color: #3573e2;
    font-size: 18px;
    line-height: 1;
}

#footer .footer-top .footer-links ul li {
    padding: 10px 0;
    display: flex;
    align-items: center;
}

#footer .footer-top .footer-links ul li:first-child {
    padding-top: 0;
}

#footer .footer-top .footer-links ul a {
    color: #777777;
    transition: 0.3s;
    display: inline-block;
    line-height: 1;
}

#footer .footer-top .footer-links ul a:hover {
    text-decoration: none;
    color: #3573e2;
}

#footer .footer-newsletter {
    font-size: 15px;
}

#footer .footer-newsletter h4 {
    font-size: 16px;
    font-weight: bold;
    color: #444444;
    position: relative;
    padding-bottom: 12px;
}

#footer .footer-newsletter form {
    margin-top: 30px;
    background: #fff;
    padding: 6px 10px;
    position: relative;
    border-radius: 50px;
    text-align: left;
    border: 1px solid #e0e5e2;
}

#footer .footer-newsletter form input[type="email"] {
    border: 0;
    padding: 4px 8px;
    width: calc(100% - 100px);
}

#footer .footer-newsletter form input[type="submit"] {
    position: absolute;
    top: -1px;
    right: -1px;
    bottom: -1px;
    border: 0;
    background: none;
    font-size: 16px;
    padding: 0 20px 2px 20px;
    background: #3573e2;
    color: #fff;
    transition: 0.3s;
    border-radius: 50px;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

#footer .footer-newsletter form input[type="submit"]:hover {
    background: #3573e2;
}

#footer .credits {
    padding-top: 5px;
    font-size: 13px;
}

#footer .credits a {
    color: #3573e2;
    transition: 0.3s;
}

#footer .credits a:hover {
    color: #3573e2;
}

#footer .social-links a {
    font-size: 18px;
    display: inline-block;
    background: #3573e2;
    color: #fff;
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
}

#footer .social-links a:hover {
    background: #3573e2;
    color: #fff;
    text-decoration: none;
}
